:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}


.board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  width: fit-content;
  text-align: center;
  background-image: url('../public/cesped3.png');
  background-size: cover;
}

.cell {
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #00dc3b4b;
  cursor: pointer;
}

.green{
  background-color: rgba(0, 255, 94, 0.222);
}

.blue{
  background-color: rgba(0, 115, 255, 0.407);
}

.alien, .modifier, .alterator {
  display: grid;
  place-items: center;
  position: absolute;
}

.img_blue_alien{
  width: 55px;
  height: 55px;
  z-index: 10;
}

.img_green_alien{
  width: 70px;
  height: 70px;
  z-index: 10;

}

.img_mountain{
  width: 60px;
  height: 50px;
}

.img_killer{
  width: 40px;
  height: 40px;
  z-index: 5;
}

.img_multiplier{
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 5;
}

.img_trap{
  width: 40px;
  height: 60px;
  position: absolute;
  z-index: 20;
}

.img_directiorer{
  width: 40px;
  height: 40px;
  z-index: 5;
}

.img_teleporter {
  width: 120px;
  height: 90px;
  z-index: 5;
}

.base {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.487);
}

.green_nave{
  display: grid;
  place-items: center;
  position: absolute;
  width: 240px;
  height: 240px;
  transform: translate(-5px, -50px);
  rotate:( -10deg);
  opacity: 90%;
}

.blue_nave{
  position: absolute;
  width: 240px;
  height: 240px;
  transform: translate(10px, -30px);
  rotate: 10deg;
  opacity: 90%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
