:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  width: fit-content;
  text-align: center;
  background-image: url('../public/cesped2.png');
  background-repeat: repeat;
}

.cell {
  display: grid;
  width: 60px;
  height: 60px;
  border: 1px solid #097e0340;
  place-items: center;
  cursor: pointer;  
}


.alien {
  display: grid;
  place-items: center;
}


.modifier{
  display: grid;
  align-items: center;
}

.alterator{
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  z-Index: 1;
}

.img_blue_alien{
  width: 30px;
  height: 30px;
}

.img_green_alien{
  width: 40px;
  height: 40px;
}

.img_mountain{
  width: 60px;
  height: 50px;
}

.img_killer{
  width: 40px;
  height: 40px;
}

.img_multiplier{
  width: 40px;
  height: 40px;
}

.img_trap{
  width: 50%;
  height: 90%;
  position: "absolute";
  top: "50%";     
  left: "50%";            
  transform: "translate(-50%, -50%)";
  z-Index: 1;
}
.img_directiorer{
  width: 40px;
  height: 40px;
}
.img_teleporter{
  width: 40px;
  height: 40px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
