.alien {
  display: grid;
  place-items: center;
  position: absolute;
}

.img_blue_alien{
  width: 55px;
  height: 55px;
  z-index: 10;
}

.img_green_alien{
  width: 70px;
  height: 70px;
  z-index: 10;
}

.right {
  animation: right ease-in-out .3s forwards;
}

@keyframes right {
  to {
    transform: translateX(56px);
  }
}

.left {
  animation: left ease-in-out .3s forwards;
}

@keyframes left {
  to {
    transform: translateX(-56px);
  }
}

.up {
  animation: up ease-in-out .3s forwards;
}

@keyframes up {
  to {
    transform: translateY(-56px);
  }
}

.down {
  animation: down ease-in-out .3s forwards;
}

@keyframes down {
  to {
    transform: translateY(56px);
  }
}