font-face {
  font-family: 'Press Start 2P'; 
  src: url('../../fonts/Press_Start_2P') format('tff'); 
 
}

.green_user_info{
  text-align: center;
}

.blue_user_info{
  text-align: center;
}

.health-bar-green {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  color: #1a1a1a;
  border: #028504 solid 2px;
  width: 15vw;
  height: 35px;
  border-radius: 5px;
  position: relative;
  grid-area: health-bar-green;
}

.health-bar-blue {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  color: #1a1a1a;
  border: #0b1379ac solid 2px;
  width: 15vw;
  height: 35px;
  border-radius: 5px;
  position: relative;
  grid-area: health-bar-blue;
}

.bar-green{
  width: 100%;
  height: 100%; 
  background-color: #4caf50;
  border-radius: 3px;
}

.bar-blue{
  width: 100%;
  height: 100%;
  background-color: #2c68d0;
  border-radius: 3px;
}

.text {
  position: absolute; 
  right: 10%; 
}

.green_user_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;

}

.blue_user_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
}

.live_alien_green {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 90%;
  font-size: 1.4em;
  border: #2cd04d solid 2px;
  border-radius: 10%;
  background-color: #131313;  
  grid-area: live_alien_green;
}

.live_alien_blue{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 90%;
  font-size: 1.4em;
  border: #2936f5ac solid 2px;
  border-radius: 10%;
  background-color: #131313;  
  grid-area: live_alien_blue;
}

.green_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 90%;
  font-size: 1.2em;
  border: #03da07 solid 2px;
  border-radius: 5%;
  background-color: #131313;  
  color: #00ff88e1; 
  text-overflow: ellipsis; 
}

.blue_name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 90%;
  font-size: 1em;
  border: #2936f5ac solid 2px;
  border-radius: 5%;
  background-color: #131313;  
  color: #4d9af8f2; 
  text-overflow: ellipsis;  
}

.blue_alien{
  width: 55px;
  height: 55px;
  z-index: 10;
}

.green_alien{
  width: 60px;
  height: 60px;
  z-index: 10;
}

p{
  margin: 0;
}